@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px dotted var(--text-60);
}

.timelineEntry {
  padding: 1.5rem 0 1.5rem 2rem;
  margin-bottom: 1px;
  position: relative;
}

.timelineEntryContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timelineEntry::before {
  content: '';
  position: absolute;
  left: -0.05rem;
  top: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text);
  z-index: 1;
}

.timelineTimespan {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: -0.15rem;
  padding: 0.6rem 0;
  background: var(--bg);
}

.timeline h3,
.timeline p {
  margin: 0 0 0.25rem;
  padding: 0;
  line-height: 1.6rem;
}

.role {
  color: var(--text-60);
}

.pulser {
  margin-left: 1rem;
  width: 11px;
  height: 11px;
  position: relative;
}

.pulser::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pulser::after {
  content: '';
  border: 3px solid var(--red);
  border-radius: 30px;
  height: 20px;
  width: 20px;
  animation: pulsate 1s ease-out infinite;
  opacity: 0;
  position: absolute;
  top: calc(-50% - 2.5px);
  left: calc(-50% - 2.5px);
}

.hiring {
  display: inline-block;
  padding-top: 1rem;
  color: var(--red);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--red-40);
}

.hiring:hover {
  text-decoration-color: var(--red);
}
