.error {
  height: calc(100vh - 50px - 2rem);
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.error h1 {
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
  margin: 0 1rem 0 0;
  font-size: 24px;
  font-weight: 500;
  border-right: 2px dotted var(--text-60);
}

.error h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}

.backButton {
  margin: 0;
  padding: 0;
}
